/* ---------------------------------------------- /*
 * JS Diploma Netology
/* ---------------------------------------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
button:hover,
button:active,
button:focus,
input:focus,
textarea:focus,
img:focus {
  outline: none;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 95%;
  max-width: 1366px;
  margin: 0 auto;
  font-size: 1.9rem;
  line-height: 3.2rem;
  color: #000;
}
h1 {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 4.6rem;
  margin-bottom: 4rem;
  max-width: 1200px;
  text-align: center;
}
h1 + p {
  font-size: 3.2rem;
  line-height: 4.8rem;
  margin-bottom: 5rem;
  text-align: center;
}
@media (min-width: 600px) {
  h1 {
    font-size: 5.7rem;
    line-height: 6.9rem;
    margin-bottom: 5rem;
  }
}
@media (min-width: 1366px) {
  h1 {
    font-size: 7.2rem;
    line-height: 8.4rem;
    margin: 6rem auto;
  }
}
h2 {
  font-size: 3.2rem;
  line-height: 5.4rem;
  font-weight: 700;
}
h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none!important;
  }
}
header {
  margin: auto;
  min-width: 300px;
  max-width: 1200px;
}
header:before {
  display: table;
  content: " ";
}
header:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
@media (min-width: 768px) {
  header {
    margin: 2rem auto;
  }
}
@media (min-width: 1366px) {
  header {
    margin: 4rem auto;
  }
}
header .logo {
  max-width: 300px;
  height: 35px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  margin: 4rem auto;
}
@media (min-width: 768px) {
  header .logo {
    float: left;
    width: 100%;
    margin-left: 3rem;
  }
}
header .search {
  margin: 0 auto;
  width: 310px;
  margin-bottom: 4rem;
}
header .search input {
  background: url(../img/loupe.png) no-repeat;
  background-position: 8px center;
  padding-left: 3.5rem;
  width: 265px;
  height: 30px;
  border: 1px solid #b3b3b3;
  box-shadow: inset 0 1px 2px #b3b3b3;
  border-radius: 25px;
  vertical-align: top;
  outline: none;
  transition: box-shadow linear 0.2s;
}
header .search input:focus,
header .search input:hover {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 12px rgba(134, 33, 101, 0.6);
}
header .search .search-button {
  width: 30px;
  height: 30px;
  background: url('../img/enter.png') no-repeat;
  background-position: center center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow linear 0.2s;
}
header .search .search-button:hover {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 12px rgba(134, 33, 101, 0.6);
}
@media (min-width: 768px) {
  header .search {
    float: right;
    margin: 4rem auto;
  }
}
main {
  display: block;
  margin-bottom: 8rem;
  min-width: 300px;
}
@media (min-width: 480px) {
  main {
    margin-bottom: 10rem;
  }
}
main .books {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 480px) {
  main .books {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
main .books .book:nth-child(3n + 2) .my-sorting-handle:after {
  border-color: #f2555e #f2555e transparent;
}
main .books .book:nth-child(4n + 3) .my-sorting-handle:after {
  border-color: #737273 #737273 transparent;
}
main .books .book:nth-child(4n + 6) .my-sorting-handle:after {
  border-color: transparent;
}
main .books li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}
@media (min-width: 480px) {
  main .books li {
    margin-bottom: 6rem;
  }
}
main .books .sortable-ghost {
  border-top: 1px solid red;
}
@media (min-width: 480px) {
  main .books .sortable-ghost {
    border-top: 0;
    border-left: 1px solid red;
  }
}
@media (min-width: 768px) {
  main .books .sortable-chosen {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    transition: .2s linear;
  }
  main .books .sortable-chosen :focus {
    cursor: -webkit-grabbing;
  }
}
main .books .sortable-chosen img {
  box-shadow: 10px 15px 25px #b3b3b3;
}
main .books figure {
  position: relative;
}
main .books figure .my-sorting-handle {
  max-width: 220px;
  margin: 0 auto;
  position: relative;
}
main .books figure .my-sorting-handle:after {
  display: block;
  position: absolute;
  content: '';
  left: 25px;
  top: 300px;
  border-color: #008b74 #008b74 transparent;
  border-style: solid;
  border-width: 12px 7px 6px;
}
main .books figure img {
  box-shadow: 5px 5px 10px #b3b3b3;
  display: block;
  margin: 0 auto;
  transition: box-shadow linear 0.2s;
}
main .books figure img:hover {
  box-shadow: 8px 8px 20px rgba(134, 33, 101, 0.6);
}
main .books figure figcaption {
  width: 28rem;
  margin: 2rem auto 0;
  text-align: center;
  color: #4c4c4c;
}
main .books figure figcaption u {
  color: #4283c0;
  text-decoration: underline;
}
main .search-results-message {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  color: #855788;
}
main .search-results-message span {
  font-size: 3rem;
  font-weight: 700;
}
main .btn-more-books {
  display: block;
  width: 28rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.9rem;
  line-height: normal;
  color: #4285be;
  text-align: center;
  border: 2px solid #8eb6d8;
  border-radius: 6px;
  background: none;
}
main .btn-more-books:hover,
main .btn-more-books:active {
  border: 2px solid #e51907;
  color: #e51907;
}
footer {
  width: 300px;
  height: 193px;
  margin: 0 auto;
}
footer:before {
  display: table;
  content: " ";
}
footer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
footer a {
  height: 100%;
  display: block;
  background: url('../img/footer-logo.png') no-repeat 100%;
}
/* ---------------------------------------------- /*
 * About page
/* ---------------------------------------------- */
@font-face {
  font-family: "ALSfuchsia";
  src: url('../fonts/ALSfuchsia.otf');
}
.about h2 {
  margin-bottom: 3rem;
  text-align: left;
}
@media (min-width: 768px) {
  .about h2 {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}
.about article {
  margin-bottom: 1.3rem;
}
@media (min-width: 768px) {
  .about article {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .about article {
    margin-bottom: 4rem;
  }
}
.about .intro {
  font-size: 2.4rem;
  line-height: 3.4rem;
  text-align: center;
}
@media (min-width: 768px) {
  .about .intro {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .about .history {
    max-width: 640px;
    margin: auto;
  }
}
.about .persons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  max-width: 1200px;
  margin: 6rem auto;
}
.about .persons li {
  position: relative;
  width: 115px;
  height: 115px;
  margin: 2rem 0;
  background-position: center center;
  background-repeat: no-repeat;
}
.about .persons li a {
  position: relative;
  display: block;
  height: 115px;
  border-radius: 55px;
  transition: box-shadow linear 0.2s;
  z-index: 2;
}
.about .persons li a:hover {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 12px rgba(134, 33, 101, 0.6);
}
.about .persons li.fry {
  background-image: url('../img/fry.png');
}
.about .persons li.bender {
  background-image: url('../img/bender.png');
}
.about .persons li.skraffi {
  background-image: url('../img/skraffi.png');
}
.about .persons li.slizen {
  background-image: url('../img/slizen.png');
}
.about .persons li.kalkulon {
  background-image: url('../img/kalkulon.png');
}
.about .persons li.zapp {
  background-image: url('../img/zapp.png');
}
.about .persons .crowned:after {
  position: absolute;
  top: -30px;
  left: -4px;
  content: "";
  width: 130px;
  height: 150px;
  background-image: url(../img/diadem.png);
  background-repeat: no-repeat;
  z-index: 1;
}
@media (min-width: 768px) {
  .about dl {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}
.about dl dt {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
@media (min-width: 1025px) {
  .about dl dt {
    margin-bottom: 3rem;
  }
}
.about dl dd {
  margin-bottom: 1rem;
}
.about dl dd ul {
  margin-bottom: 4rem;
}
.about dl dd ul li {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.about dl dd ul li:before {
  content: '\2014';
  position: absolute;
  left: -3rem;
}
.about dl dd ul li:last-child {
  margin-bottom: 0;
}
.about dl dd > p + p {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .about dl dd {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .about dl dd {
    margin-bottom: 3.4rem;
  }
}
.about dl p {
  margin-bottom: 4rem;
}
.about blockquote {
  font-family: ALSfuchsia, cursive;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 2.5rem;
  font-size: 2.8rem;
  line-height: 4.2rem;
  margin: 3rem 0;
  text-align: center;
}
@media (min-width: 768px) {
  .about blockquote {
    max-width: 880px;
    margin: 4rem auto;
    font-size: 3.2rem;
    line-height: 4.8rem;
    padding: 4rem 0;
  }
}
@media (min-width: 1025px) {
  .about blockquote {
    padding: 5rem 1rem;
    margin: 5rem auto;
    font-size: 3.6rem;
    line-height: 5.4rem;
  }
}
/* ---------------------------------------------- /*
 * Book page
/* ---------------------------------------------- */
.book-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media (min-width: 1025px) {
  .book-details {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.book-details .book-info {
  position: relative;
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
  margin: 0 auto;
}
@media (min-width: 1025px) {
  .book-details .book-info {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
}
.book-details .book-info .book-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 280px;
}
@media (min-width: 768px) {
  .book-details .book-info .book-wrapper {
    max-width: 420px;
  }
}
.book-details .book-info .book-wrapper:after {
  display: block;
  position: absolute;
  content: '';
  right: 240px;
  top: 400px;
  border-color: #dd474d #dd474d transparent;
  border-style: solid;
  border-width: 12px 8px 7px;
}
@media (min-width: 768px) {
  .book-details .book-info .book-wrapper:after {
    right: 360px;
    top: 600px;
    border-width: 14px 10px 7px;
  }
}
.book-details .book-info .book-cover {
  position: relative;
  width: 280px;
  height: 400px;
  margin-bottom: 4rem;
  box-shadow: 5px 5px 10px #b3b3b3;
}
@media (min-width: 768px) {
  .book-details .book-info .book-cover {
    width: 420px;
    height: 600px;
    margin-bottom: 5rem;
  }
}
.book-details .book-info .eye-box {
  position: absolute;
  bottom: 140px;
  width: 100%;
  background: transparent;
}
@media (min-width: 768px) {
  .book-details .book-info .eye-box {
    bottom: 200px;
  }
}
.book-details .book-info .eye-box .eye {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background-color: #000;
  border: 3px solid black;
  border-radius: 100%;
  overflow: hidden;
}
.book-details .book-info .eye-box .eye:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 100%;
  -webkit-animation-name: blinking;
          animation-name: blinking;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: 5;
}
.book-details .book-info .eye-box .eye .pupil {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: black;
  z-index: 10;
}
.book-details .book-info .description {
  font-size: 2.4rem;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  text-align: center;
}
@media (min-width: 600px) {
  .book-details .book-info .description {
    max-width: 420px;
  }
}
.book-details .book-info .description strong {
  color: #fe5552;
  font-weight: normal;
}
@media (min-width: 480px) {
  .book-details .reviews {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
.book-details .reviews .review {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-bottom: 6rem;
}
@media (min-width: 480px) {
  .book-details .features {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
.book-details .features .feature {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.book-details .person {
  width: 210px;
  height: 185px;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.book-details blockquote {
  position: relative;
  width: 260px;
  margin: 0 auto;
  font-size: 2.1rem;
}
.btn-purchase {
  position: relative;
  display: block;
  max-width: 440px;
  padding: 20px 0;
  margin: 0 auto 3rem;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: #ffffff;
  text-align: center;
  background-image: linear-gradient(0deg, #613c63 0%, #855987 100%);
  border-radius: 12px;
  box-shadow: 0px 20px 40px 0px rgba(57, 37, 57, 0.8);
}
.btn-purchase:hover {
  background-image: linear-gradient(0deg, #49274b 0%, #c28dc5 100%);
}
.btn-purchase:active {
  background-image: linear-gradient(0deg, #623a64 0%, #865888 100%);
  box-shadow: 0px 5px 10px 0px rgba(57, 37, 57, 0.8);
}
.book-page figure {
  text-align: center;
}
.book-page figure figcaption {
  font-size: 1.5rem;
  font-style: italic;
  padding: 0 1.5rem;
  color: #dcdcdc;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}
.book-page figure .scraffi {
  width: 70px;
  height: 70px;
  margin: auto;
  background-image: url('../img/skraffi.png');
  background-size: cover;
}
@-webkit-keyframes blinking {
  82% {
    border-top: 0 solid black;
    border-bottom: 0 solid black;
  }
  84% {
    border-top: 12px solid black;
    border-bottom: 12px solid black;
  }
  86% {
    border-top: 24px solid black;
    border-bottom: 24px solid black;
  }
  87% {
    border-top: 38px solid black;
    border-bottom: 38px solid black;
  }
  89% {
    border-top: 52px solid black;
    border-bottom: 52px solid black;
  }
  92% {
    border-top: 63px solid black;
    border-bottom: 63px solid black;
  }
  93% {
    border-top: 58px solid black;
    border-bottom: 58px solid black;
  }
  94% {
    border-top: 52px solid black;
    border-bottom: 52px solid black;
  }
  95% {
    border-top: 38px solid black;
    border-bottom: 38px solid black;
  }
  96% {
    border-top: 24px solid black;
    border-bottom: 24px solid black;
  }
  97% {
    border-top: 12px solid black;
    border-bottom: 12px solid black;
  }
  98% {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  100% {
    border-top: 0 solid black;
    border-bottom: 0 solid black;
  }
}
@keyframes blinking {
  82% {
    border-top: 0 solid black;
    border-bottom: 0 solid black;
  }
  84% {
    border-top: 12px solid black;
    border-bottom: 12px solid black;
  }
  86% {
    border-top: 24px solid black;
    border-bottom: 24px solid black;
  }
  87% {
    border-top: 38px solid black;
    border-bottom: 38px solid black;
  }
  89% {
    border-top: 52px solid black;
    border-bottom: 52px solid black;
  }
  92% {
    border-top: 63px solid black;
    border-bottom: 63px solid black;
  }
  93% {
    border-top: 58px solid black;
    border-bottom: 58px solid black;
  }
  94% {
    border-top: 52px solid black;
    border-bottom: 52px solid black;
  }
  95% {
    border-top: 38px solid black;
    border-bottom: 38px solid black;
  }
  96% {
    border-top: 24px solid black;
    border-bottom: 24px solid black;
  }
  97% {
    border-top: 12px solid black;
    border-bottom: 12px solid black;
  }
  98% {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  100% {
    border-top: 0 solid black;
    border-bottom: 0 solid black;
  }
}
/* ---------------------------------------------- /*
 * Order page
/* ---------------------------------------------- */
.order h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
  text-align: center;
}
@media (min-width: 1366px) {
  .order h2 {
    font-size: 3.2rem;
    line-height: 5.4rem;
  }
}
.order h2 a {
  font-size: larger;
  color: #4285be;
  text-decoration: underline;
}
.order-form .wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .order-form .wrapper {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
@media (min-width: 1025px) {
  .order-form section {
    margin: auto;
  }
}
.order-form section:nth-child(2) {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.order-form .book-cover {
  display: none;
}
@media (min-width: 1025px) {
  .order-form .book-cover {
    display: block;
    width: 280px;
    height: 400px;
    margin: 4rem auto;
  }
}
.order-form label {
  font-weight: 700;
}
.order-form input[type="text"],
.order-form input[type="email"],
.order-form input[type="tel"],
.order-form input[type="number"],
.order-form textarea,
.order-form select {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 15px;
  margin: 0 auto 1rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.order-form input[type="text"]:focus,
.order-form input[type="email"]:focus,
.order-form input[type="tel"]:focus,
.order-form input[type="number"]:focus,
.order-form textarea:focus,
.order-form select:focus,
.order-form input[type="text"]:hover,
.order-form input[type="email"]:hover,
.order-form input[type="tel"]:hover,
.order-form input[type="number"]:hover,
.order-form textarea:hover,
.order-form select:hover {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 12px rgba(134, 33, 101, 0.6);
}
.order-form fieldset {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  border: 1px solid #b3b3b3;
  border-radius: 0.5rem;
  padding: 0.8rem 1.5rem;
}
.order-form fieldset legend {
  font-weight: 700;
}
.order-form fieldset.payment-method {
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 768px) {
  .order-form fieldset.payment-method {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}
.order-form fieldset label {
  display: block;
  font-weight: 400;
}
.order-form fieldset label input {
  margin-right: 2rem;
}
.order-form .place-order {
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
  margin-top: 4rem;
  text-align: center;
}
.order-form .place-order h2 {
  font-weight: 700;
}
.order-form .place-order h2 span {
  font-size: larger;
  color: #4285be;
  text-decoration: underline;
  display: block;
}
@media (min-width: 600px) {
  .order-form .place-order h2 span {
    display: inline;
  }
}
.order-form .place-order .btn-purchase {
  width: 100%;
  max-width: 400px;
}
.order-form .currency {
  text-align: center;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
}
.order-form .currency select {
  margin-top: 0.5rem;
  max-width: 450px;
}
.order-form .currency .ng-dirty.ng-valid {
  border-color: #ccc;
}
.order-form .help-block {
  font-size: 1.2rem;
  color: #b94a48;
  vertical-align: text-bottom;
  font-weight: normal;
}
.order-form .order-sent,
.order-form .order-failed {
  margin: 7rem auto;
  font-size: 3rem;
  line-height: 3.8rem;
  font-weight: 700;
  color: darkgreen;
  text-align: center;
}
.order-form .order-sent p,
.order-form .order-failed p {
  margin-bottom: 1.5rem;
}
.order-form .order-sent p:first-child,
.order-form .order-failed p:first-child {
  font-size: larger;
}
.order-form .order-sent a,
.order-form .order-failed a {
  font: larger;
  text-decoration: underline;
  color: #4285be;
}
.order-form .order-sent a:hover,
.order-form .order-failed a:hover {
  cursor: pointer;
}
.order-form .order-failed {
  color: darkred;
}
.order-form .ng-dirty.ng-invalid {
  border-color: #b94a48;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.075);
}
.order-form .ng-dirty.ng-valid {
  border-color: #18bc9c;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.075);
}
