/* ---------------------------------------------- /*
 * About page
/* ---------------------------------------------- */


@font-face {
  font-family: "ALSfuchsia";
  src: url('../fonts/ALSfuchsia.otf');
}

.about {
    h2 {
        margin-bottom: 3rem;
        text-align: left;

        @media @tablet {
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    article {
        margin-bottom: 1.3rem;

        @media @tablet {
            margin-bottom: 2.5rem;
        }

        @media @desktop {
            margin-bottom: 4rem;
        }
    }

    .intro {
        font-size: 2.4rem;
        line-height: 3.4rem;
        text-align: center;

        @media @tablet {
            max-width: 880px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .history {
        @media @tablet {
            max-width: 640px;
            margin: auto;
        }
    }

    .persons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1200px;
        margin: 6rem auto;

        li {
            position: relative;
            width: 115px;
            height: 115px;
            margin: 2rem 0;
            background-position: center center;
            background-repeat: no-repeat;
            
            a {
                position: relative;
                display: block;
                height: 115px;
                border-radius: 55px;
                transition: box-shadow linear 0.2s;
                z-index: 2;

                &:hover {
                    box-shadow: inset 0 2px 2px rgba(0,0,0,0.075),0 0 12px rgba(134,33,101,0.6);
                }
            }

            &.fry {
                background-image: url('../img/fry.png');
            }

            &.bender {
                background-image: url('../img/bender.png');
            }

            &.skraffi {
                background-image: url('../img/skraffi.png');
            }

            &.slizen {
                background-image: url('../img/slizen.png');
            }

            &.kalkulon {
                background-image: url('../img/kalkulon.png');
            }

            &.zapp {
                background-image: url('../img/zapp.png');
            }
        }

        .crowned {
            &:after {
                position: absolute;
                top: -30px;
                left: -4px;
                content: "";
                width: 130px;
                height: 150px;
                background-image: url(../img/diadem.png);
                background-repeat: no-repeat;
                z-index: 1;
            }
        }
    }

    dl {
        @media @tablet {
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;
        }

        dt {
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-weight: 700;
            margin-bottom: 2rem;

            @media @desktop {
                margin-bottom: 3rem;
            }
        }

        dd {
            margin-bottom: 1rem;

            ul {
                margin-bottom: 4rem;

                li {
                    position: relative;
                    margin-left: 3rem;
                    margin-bottom: 2rem;

                    &:before {
                        content: '\2014';
                        position: absolute;
                        left: -3rem;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            &>p+p{
                margin-bottom: 0;
            }

            @media @tablet {
                margin-bottom: 2.5rem;
            }

            @media @desktop {
                margin-bottom: 3.4rem;
            }
        }

        p {
            margin-bottom: 4rem;
        }
    }

    blockquote {
        font-family: ALSfuchsia, cursive;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 2.5rem;
        font-size: 2.8rem;
        line-height: 4.2rem;
        margin: 3rem 0;
        text-align: center;

        @media @tablet {
            max-width: 880px;
            margin: 4rem auto;
            font-size: 3.2rem;
            line-height: 4.8rem;
            padding: 4rem 0;
        }

        @media @desktop {
            padding: 5rem 1rem;
            margin: 5rem auto;
            font-size: 3.6rem;
            line-height: 5.4rem;
        }
    }
}