/* ---------------------------------------------- /*
 * Book page
/* ---------------------------------------------- */

.book-details {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media @desktop {
        flex-direction: row;
        justify-content: space-between;
    }

    .book-info {
        position: relative;
        flex: 100%;
        order: -1;
        margin: 0 auto;

        @media @desktop {
            order: 0;
        }

        .book-wrapper{
            position: relative;
            margin: 0 auto;
            max-width: 280px;

            @media @tablet {
                max-width: 420px;
            }

            &:after {
                display: block;
                position: absolute;
                content: '';
                right: 240px;
                top: 400px;
                border-color: #dd474d #dd474d transparent;
                border-style: solid;
                border-width: 12px 8px 7px;

                @media @tablet {
                    right: 360px;
                    top: 600px;
                    border-width: 14px 10px 7px;
                }
            }
        }

        .book-cover {
            position: relative;
            width: 280px;
            height: 400px;
            margin-bottom: 4rem;
            box-shadow: 5px 5px 10px #b3b3b3;

            @media @tablet {
                width: 420px;
                height: 600px;
                margin-bottom: 5rem;
            }
        }

        .eye-box {
            position: absolute;
            bottom: 140px;
            width: 100%;
            background: transparent;

            @media @tablet {
                bottom: 200px;
            }

            .eye {
                position: relative;
                width: 130px;
                height: 130px;
                margin: 0 auto;
                background-color: #000;
                border: 3px solid black;
                border-radius: 100%;
                overflow: hidden;

                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: #fff;
                    border-radius: 100%;
                    animation-name: blinking;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    z-index: 5;
                }

                .pupil {
                    position: absolute;
                    top: 50px;
                    left: 50px;
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%, -50%);
                    width: 25px;
                    height: 25px;
                    border-radius: 100%;
                    background: black;
                    z-index:10;
                }
            }
        }

        .description {
            font-size: 2.4rem;
            max-width: 280px;
            margin: 0 auto;
            margin-bottom: 6rem;
            text-align: center;

            @media @small {
                max-width: 420px;
            }

            strong {
                color: #fe5552;
                font-weight: normal;
            }
        }
    }

    .reviews {

        @media @xsmall {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .review {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            margin-bottom: 6rem;
        }
    }

    .features {

        @media @xsmall {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .feature {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            margin-bottom: 6rem;
        }
    }

    .person {
        width: 210px;
        height: 185px;
        margin: 0 auto;
        margin-bottom: 2.5rem;
    }

    blockquote {
        position: relative;
        width: 260px;
        margin: 0 auto;
        font-size: 2.1rem;
    }
}

.btn-purchase {
    position: relative;
    display: block;
    max-width: 440px;
    padding: 20px 0;
    margin: 0 auto 3rem;
    font-size: 3.2rem;
    line-height: 3.2rem;
    color: #ffffff;
    text-align: center;
    background-image: linear-gradient(0deg, #613c63 0%, #855987 100%);
    border-radius: 12px;
    box-shadow: 0px 20px 40px 0px rgba(57, 37, 57, 0.8);
    
    &:hover {
        background-image: linear-gradient(0deg, #49274b 0%, #c28dc5 100%);
    }

    &:active {
        background-image: linear-gradient(0deg, #623a64 0%, #865888 100%);
        box-shadow: 0px 5px 10px 0px rgba(57, 37, 57, 0.8);
    }

}

.book-page figure {
    text-align: center;

    figcaption {
        font-size: 1.5rem;
        font-style: italic;
        padding: 0 1.5rem;
        color: #dcdcdc;
        line-height: 1.8rem;
        margin-bottom: 1rem;
    }

    .scraffi {
        width: 70px;
        height: 70px;
        margin: auto;
        background-image: url('../img/skraffi.png');
        background-size: cover;
    }
}

@keyframes blinking {
    0% {}
    82% {.border(0, 0)}
    84% {.border(12px, 12px)}
    86% {.border(24px, 24px)}
    87% {.border(38px, 38px)}
    89% {.border(52px, 52px)}
    92% {.border(63px, 63px)}
    93% {.border(58px, 58px)}
    94% {.border(52px, 52px)}
    95% {.border(38px, 38px)}
    96% {.border(24px, 24px)}
    97% {.border(12px, 12px)}
    98% {.border(2px, 2px)}
    100% {.border(0, 0)}
}