
/* ---------------------------------------------- /*
 * JS Diploma Netology
/* ---------------------------------------------- */

@xsmall: ~'(min-width: 480px)';
@small: ~'(min-width: 600px)';
@tablet: ~'(min-width: 768px)';
@desktop: ~'(min-width: 1025px)';
@large: ~'(min-width: 1366px)';

.clearfix() {
    &:before {
        display: table;
        content: " ";
    }

    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.animation(@name,@duration, @count) {
    animation: @name @duration ease-in-out @count;
}

.border(@x, @y) {
    border-top: @x solid black;
    border-bottom: @y solid black;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

button:hover,
button:active,
button:focus,
input:focus,
textarea:focus,
img:focus {
  outline: none;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 95%;
    max-width: 1366px;
    margin: 0 auto;
    font-size: 1.9rem;
    line-height: 3.2rem;
    color: #000;
}

h1 {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 4.6rem;
    margin-bottom: 4rem;
    max-width: 1200px;
    text-align: center;

    & + p {
        font-size: 3.2rem;
        line-height: 4.8rem;
        margin-bottom: 5rem;
        text-align: center;
    }

    @media @small {
        font-size: 5.7rem;
        line-height: 6.9rem;
        margin-bottom: 5rem;
    }

    @media @large {
        font-size: 7.2rem;
        line-height: 8.4rem;
        margin: 6rem auto;
    }
}

h2 {
    font-size: 3.2rem;
    line-height: 5.4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
}

.hidden-xs {
    @media (max-width: 767px) {
        display: none!important;
    }
}

header {
    margin: auto;
    min-width: 300px;
    max-width: 1200px;
    .clearfix();

    @media @tablet {
        margin: 2rem auto;
    }

    @media @large {
        margin: 4rem auto;
    }

    .logo {
        max-width: 300px;
        height: 35px;
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;
        margin: 4rem auto;

        @media @tablet {
            float: left;
            width: 100%;
            margin-left: 3rem;
        }
    }

    .search {
        margin: 0 auto;
        width: 310px;
        margin-bottom: 4rem;

        input {
            background: url(../img/loupe.png) no-repeat;
            background-position: 8px center;
            padding-left: 3.5rem;
            width: 265px;
            height: 30px;
            border: 1px solid #b3b3b3;
            box-shadow: inset 0 1px 2px #b3b3b3;
            border-radius: 25px;
            vertical-align: top;
            outline: none;
            transition: box-shadow linear 0.2s;

            &:focus, &:hover {
                box-shadow: inset 0 2px 2px rgba(0,0,0,0.075),0 0 12px rgba(134,33,101,0.6);
            }
        }

        .search-button {
            width: 30px;
            height: 30px;
            background: url('../img/enter.png') no-repeat;
            background-position: center center;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: box-shadow linear 0.2s;

            &:hover {
                box-shadow: inset 0 2px 2px rgba(0,0,0,0.075),0 0 12px rgba(134,33,101,0.6);
            }
        }

        @media @tablet {
            float: right;
            margin: 4rem auto;
        }
    }
}

main {
    display: block;
    margin-bottom: 8rem;
    min-width: 300px;

    @media @xsmall {
        margin-bottom: 10rem;
    }

    .books {
        display: flex;
        flex-direction: column;

        @media @xsmall {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
        }

        .book {
            &:nth-child(3n + 2) .my-sorting-handle:after{
                border-color: #f2555e #f2555e transparent;
            }
            &:nth-child(4n + 3) .my-sorting-handle:after {
              border-color: #737273 #737273 transparent;
            }
            &:nth-child(4n + 6) .my-sorting-handle:after {
              border-color: transparent;
            }
        }

        li {
            display: flex;
            flex-direction: column;
            margin-bottom: 4rem;

            @media @xsmall {
                margin-bottom: 6rem;
            }
        }
        
        .sortable-ghost {
            border-top: 1px solid red;

            @media @xsmall {
                border-top: 0;
                border-left: 1px solid red;
            }
        }

        .sortable-chosen {

            @media @tablet {
                transform: scale(1.2);
                transition: .2s linear;

                :focus {
                    cursor: -webkit-grabbing;
                }
            }
            img {
                box-shadow: 10px 15px 25px #b3b3b3;
            }
        }

        figure {
            position: relative;

            .my-sorting-handle {
                max-width: 220px;
                margin: 0 auto;
                position: relative;

                &:after {
                    display: block;
                    position: absolute;
                    content: '';
                    left: 25px;
                    top: 300px;
                    border-color: #008b74 #008b74 transparent;
                    border-style: solid;
                    border-width: 12px 7px 6px;
                }

            }

            img {
                box-shadow: 5px 5px 10px #b3b3b3;
                display: block;
                margin: 0 auto;
                transition: box-shadow linear 0.2s;

                &:hover {
                    box-shadow: 8px 8px 20px rgba(134,33,101,0.6);
                }
            }

            figcaption {
                width: 28rem;
                margin: 2rem auto 0;
                text-align: center;
                color: #4c4c4c;

                u {
                    color: #4283c0;
                    text-decoration: underline;
                }
            }
        }
    }

    .search-results-message {
        text-align: center;
        margin-bottom: 5rem;
        font-size: 2.5rem;
        color: #855788;
        
        span {
            font-size: 3rem;
            font-weight: 700;
        }

    }

    .btn-more-books {
        display: block;
        width: 28rem;
        margin: 0 auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 1.9rem;
        line-height: normal;
        color: #4285be;
        text-align: center;
        border: 2px solid #8eb6d8;
        border-radius: 6px;
        background: none;

        &:hover, &:active {
            border: 2px solid #e51907;
            color: #e51907;
        }
    }
}


footer {
    .clearfix();
    width: 300px;
    height: 193px;
    margin: 0 auto;


    a {
        height: 100%;
        display: block;
        background: url('../img/footer-logo.png') no-repeat 100%;
    }
}

// .test {
//     display: block;
//     position: absolute;
//     content: '';
//     left: 30px;
//     top: 300px;
//     border-color: #008b74 #008b74 transparent;
//     border-style: solid;
//     border-width: 12px 7px 6px;
// }