/* ---------------------------------------------- /*
 * Order page
/* ---------------------------------------------- */

.order {

    h2 {
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: normal;
        margin-bottom: 1.5rem;
        text-align: center;

        @media @large {
            font-size: 3.2rem;
            line-height: 5.4rem;
        }

        a {
            font-size: larger;
            color: #4285be;
            text-decoration: underline;
        }
    }
}

.order-form {
    .wrapper {
        display: flex;
        flex-direction: column;

        @media @tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }


    section {
        @media @desktop {
            margin: auto;
        }

        &:nth-child(2) {
            display: flex;
            flex-direction: column;
        }
    }

    .book-cover {
        display: none;

        @media @desktop{
            display: block;
            width: 280px;
            height: 400px;
            margin: 4rem auto;
        }
    }

    label {
        font-weight: 700;
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="number"],textarea, select {
        display: block;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px 15px;
        margin: 0 auto 1rem;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;


        &:focus, &:hover {
            box-shadow: inset 0 2px 2px rgba(0,0,0,0.075),0 0 12px rgba(134,33,101,0.6);
        }
    }

    fieldset {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        border: 1px solid #b3b3b3;
        border-radius: 0.5rem;
        padding: 0.8rem 1.5rem;

        legend {
            font-weight: 700;
        }

        &.payment-method {
            order: -1;

            @media @tablet {
                order: 1;
            }
        }

        label {
            display: block;
            font-weight: 400;
            input{
                margin-right: 2rem;

            }
        }
    }

    .place-order {
        flex: 1 100%;
        margin-top: 4rem;
        text-align: center;


        h2 {
            font-weight: 700;

            span {
                font-size: larger;
                color: #4285be;
                text-decoration: underline;
                display: block;

                @media @small {
                    display: inline;
                }
            }
        }

        .btn-purchase {
            width: 100%;
            max-width: 400px
        }
    }

    .currency {
        text-align: center;
        flex: 1 100%;

        select {
            margin-top: 0.5rem;
            max-width: 450px;
        }

        .ng-dirty.ng-valid {
            border-color: #ccc;
        }
    }

    .help-block {
        font-size: 1.2rem;
        color: #b94a48;
        vertical-align: text-bottom;
        font-weight: normal;
    }

    .order-sent, .order-failed {
        margin: 7rem auto;
        font-size: 3rem;
        line-height: 3.8rem;
        font-weight: 700;
        color: darkgreen;
        text-align: center;

        p {
            margin-bottom: 1.5rem;

            &:first-child {
                font-size: larger;
            }
        }

        a {
            font: larger;
            text-decoration: underline;
            color: #4285be;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .order-failed {
        color: darkred;
    }

    .ng-dirty.ng-invalid {
        border-color: #b94a48;
        box-shadow: inset 0 2px 5px rgba(0,0,0,0.075);
    }

    .ng-dirty.ng-valid {
        border-color: #18bc9c;
        box-shadow: inset 0 2px 5px rgba(0,0,0,0.075);
    }
}


