/* ---------------------------------------------- /*
 * JS Diploma Netology
/* ---------------------------------------------- */

h1 {
  background: #f09;
  color: #ddd;
}

a {
  color: #f99;
  text-transform: uppercase;
}

h2 {
  background: #f09;
}

/* ---------------------------------------------- /*
 * Book page
/* ---------------------------------------------- */

.book {
  font-family: Verdana;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: color 1s;
  transition: color 1s;
}