<!DOCTYPE html>
<html lang="ru" ng-app="bookApp" >
<head>
  <meta charset="UTF-8">
  <title>Издательство "Фрай, без Штанов и Бендер"</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/script.js"></script>

  <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>
  <script src="http://rubaxa.github.io/Sortable/ng-sortable.js"></script>
  <!-- @if NODE_ENV='production' -->
  <!-- @endif -->
</head>
<body>
  <header>
    <a href="index.html">
      <div class="logo"></div>
    </a>
    <form class="search" name="searchForm" ng-submit="searchForm.$valid && search(searchQuery)" ng-controller="SearchController" novalidate>
      <input type="text" placeholder="Поиск" ng-model="searchQuery" required>
      <button class="search-button" type="submit"></button>
    </form>
  </header>
  <main class="about">
    <h1>Вы работаете &mdash; мы отдыхаем</h1>
    <article class="intro">
      Мы не несем ответственность за изданные книги. Мы выбираем книги случайно и где попало. Наши любимые темы не определены, не глубоки и не интересны.Мы считаем, что краткость. Поэтому мы обходимся двумя словами, чтобы выразить все эмоции и донести смысл.
    </article>

    <article class="history">
      <h2>История названия</h2>
      <p>Название издательства &laquo;Фрай, без штанов и Бендер&raquo; является отсылкой к известному мировому издательству XXI века <span>&laquo;Манн, Иванов и Фербер&raquo;</span>. После того как издательство смоделировало искусственный интеллект (вобравший ы себя 25 триллионов изданных книг) и все ее сотрудники исчезли в Бесконечном Нейронном Пространстве межгалактический совет запретил издавать бумажные книги.
    </article>
    <ul class="persons">
      <li class="fry" title="Fry"><a href="#fry"></a></li>
      <li class="bender crowned" title="Bender"><a href="#bender"></a></li>
      <li class="skraffi" title="Skraffi"><a href="#skraffi"></a></li>
      <li class="slizen" title="Slizen"><a href="#slizen"></a></li>
      <li class="kalkulon" title="Kalkulon"><a href="#kalkulon"></a></li>
      <li class="zapp" title="Zapp"><a href="#zapp"></a></li>
    </ul>

    <h2>Основатели</h2>
    <dl id="fry">
      <dt>Филип Джей Фрай</dt>
      <dd>
        <p>В 1999 году Фрай встречался с девушкой по имени Мишель и работал курьером в &laquo;Пиццерии Пануччи&raquo;. Жизнь у него пустая, его ничего не интересует, кроме, разве что игровых автоматов.</p>
        <p>Жил он, судя по всему у Мишель. 31 декабря 1999 года Мишель отшила его, и ему надо было доставить пиццу в криогенную лабораторию. Однако только там он заметил, что это был розыгрыш. Он сидел один в пустом здании лаборатории и качался на стуле, поедая пиццу, когда часы пробили полночь, и в этот момент Фрай упал со стула и попал в криогенную капсулу, в которой был заморожен на 1000 лет и был разморожен только 31 декабря 2999 года.</p>
        <p>Позднее, в эпизоде &laquo;The Why of Fry&raquo;, оказалось, что это Зубастик подтолкнул Фрая, чтобы он упал в криокамеру, для того чтобы Фрай спас вселенную в серии &laquo;The Day the Earth Stood Stupid&raquo;. В этом же эпизоде выяснилось, что Фрая подтолкнул сам Фрай, из будущего. Причина - девушка: Зубастик заключает с Фраем сделку - Филип помогает защищать Вселенную от грозящих в XXXI веке опасностей, а зубастилионцы, в свою очередь, помогают ему добиться взаимности от Лилы.</p>
      </dd>
    </dl>

    <dl id="bender">
      <dt>Бендер Сгибатель Родригес великий, незаконнособранный</dt>
      <dd>
        <p>Бендер Сгибатель Родригес, более известный как Бендер - один из главных персонажей &laquo;Футурамы&raquo;. Он был сделан в Мексике (Тихуана) в 2997 году. Имеет серийный номер 27 16 057. Бендер пьет большое количество алкоголя, чтобы подзарядить свои топливные элементы. Когда он отрыгивает, из его рта выходит огонь. Авантюрист, любит курить сигары. В настоящее время живет с Фраем в квартире.</p>
      </dd>
    </dl>

    <h2>Сотрудники</h2>
    <dl id="skraffi">
      <dt>Скраффи Скраффингтон</dt>
      <dd>
        <p>Скраффи Скраффингтон, или просто Скраффи - уборщик в компании &laquo;Планет Экспресс&raquo;. О нем часто повторяют шутки про то, что он мало взаимодействует с остальным коллективом и многие его просто не помнят или никогда не видели раньше. Также, Скраффи является владельцем 40 тыс. акций &laquo;Планет Экспресс&raquo;, и это  больше, чем у остальных сотрудников, поскольку он &laquo;больше всех любит свою компанию&raquo; (по его словам).<br><br>Скраффи ленив и его обычно можно увидеть в подвале здания штаб &laquo;Планет Экспресс&raquo;, где он читает журнал &laquo;Zero-G Jugg&raquo; или &laquo;National Pomographic&raquo; (<span>рус.</span> &laquo;Нэшнл Порнографик&raquo;). Обычно о себе говорит в третьем лице.</p>
      </dd>
    </dl>

    <blockquote>Сотрудники издательства были не раз замечены в провокациях и совершали бессмысленные действия</blockquote>

    <dl id="slizen">
      <dt>Ужасный студень</dt>
      <dd>
        <p>Добродушный пришелец, но прибегает к насилию даже при малейшей провокации. Как правило глотает негодяя.</p>
      </dd>
    </dl>

    <dl id="kalkulon">
      <dt>Калькулон</dt>
      <dd>
        <p>Рекламное лицо компании.</p>
      </dd>
    </dl>

    <dl id="zapp">
      <dt>Зепп Бранниган</dt>
      <dd>
        <p>Зепп Бранниган (<span>англ.</span> Zapp Brannigan, полное имя Уэбело Зепп Бранниган,<span>англ.</span> Webelo Zepp Brannigan) - персонаж, человек, капитан коробля Нимбус. Питает страстью к Лиле, но она не отвечает взаимностью. Имеет собственного помошника - Кифа. Часто заставляет его делать неприятную работу, например, почесать спинку, намылить Зеппу голову в душе и так далее. Занимает должность генерала армии.</p>
        <p>Киф ненавидит Зеппа, но вынужден служить ему. Больше всего Киф ненавидит, когда Зеп его просит:</p>
          <ul>
            <li>потереть спинку;</li>
            <li>подать свежее нижнее белье в душ;</li>
            <li>позвонить в службу доставки парфюма и угрозами об уничтожении выпросить 99% скидку на любимые духи Зеппа;</li>
            <li>помыть посуду;</li>
            <li>передать вон той леди, как Зепп ее сильно желает.</li>
          </ul>
        <p>В остальном Киф доволен службой в Ограниченных Галактических Непобедимых войсках на должности помошника генерала.</p>
      </dd>
    </dl>
  </main>
  <footer>
    <a></a>
  </footer>
</body>
</html>