<!DOCTYPE html>
<html lang="ru" ng-app="bookApp">
<head>
  <meta charset="UTF-8">
  <title>Издательство "Фрай, без Штанов и Бендер"</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/script.js"></script>
  <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>
  <script src="http://rubaxa.github.io/Sortable/ng-sortable.js"></script>
  <!-- @if NODE_ENV='production' -->
  <!-- @endif -->
</head>
<body>
  <header>
    <a href="index.html">
      <div class="logo"></div>
    </a>
    <form class="search" name="searchForm" ng-submit="searchForm.$valid && search(searchQuery)" ng-controller="SearchController" novalidate>
      <input type="text" placeholder="Поиск" ng-model="searchQuery" required>
      <button class="search-button" type="submit"></button>
    </form>
  </header>
  <main class="book-page" ng-controller="BookDetailsController">
    <h1>Мы издаем книги &mdash; вы их можете не читать</h1>
    <section class="book-details">
      <aside class="reviews">
        <div class="review" ng-repeat="review in book.reviews">
          <div class="person" ng-style="{'background':'url({{review.author.pic}})'}"></div>
          <blockquote>{{review.cite}}</blockquote>
        </div>
      </aside>
      <div class="book-info">
        <div class="book-wrapper">
          <img class="book-cover" ng-src="{{book.cover.large}}">
          <moving-eye></moving-eye>
        </div>
        <p class="description" ng-bind-html="book.description" ng-show="book.description.length > 2"></p>
      </div>
      <aside class="features">
        <div class="feature" ng-repeat="feature in book.features">
          <div class="person" ng-style="{'background':'url({{feature.pic}})'}"></div>
          <blockquote>{{feature.title}}</blockquote>
        </div>
      </aside>
    </section>
    <a class="btn-purchase" ng-href="order.html?id={{book.id}}">Купить за жалкие {{book.price}} &#36;</a>
    <figure>
      <figcaption>Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи</figcaption>
      <div class="scraffi" title="Scraffi"></div>
    </figure>

  </main>
  <footer>
    <a href="about.html"></a>
  </footer>
</body>
</html>