<!DOCTYPE html>
<html lang="ru" ng-app="bookApp">
<head>
  <meta charset="UTF-8">
  <title>Издательство "Фрай, без Штанов и Бендер"</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/script.js"></script>
  <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>
  <script src="http://rubaxa.github.io/Sortable/ng-sortable.js"></script>
  <!-- @if NODE_ENV='production' -->
  <!-- @endif -->
</head>
<body ng-controller="BookController">
  <header>
    <div class="logo"></div>
    <form class="search">
      <input type="text" placeholder="Поиск" ng-model="query" ng-change="maxItems = books.length">
    </form>
  </header>
  <main>
    <h1>Самое незаметное издательство</h1>
    <p class="hidden-xs">Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится.</p>
    <p class="search-results-message" ng-show="query">
      Список книг по запросу: &laquo; <span>{{query}}</span> &raquo;
    </p>
    <ul class="books" ng-sortable="{animation:150, handle: '.my-sorting-handle'}">
      <li class="book" ng-repeat="book in books | limitTo: maxItems | filter: query">
        <figure>
          <a href="book.html?id={{book.id}}">
            <div class="my-sorting-handle">
              <img ng-src="{{book.cover.small}}">
              <div class="test"></div>
            </div>
            <figcaption ng-bind-html="book.info"></figcaption>
          </a>
        </figure>
      </li>
    </ul>
    <button class="btn-more-books" ng-click="maxItems = maxItems + 4" ng-hide="maxItems >= books.length">
      Еще несколько книг
    </button>
  </main>
  <footer>
    <a href="about.html"></a>
  </footer>
</body>
</html>