<form class="order-form" name="orderForm" ng-controller="BookOrderController as orderCtrl" ng-submit="purchase(orderForm)" novalidate>
  <h2 ng-hide="requestSent || requestError">Оформить заказ на книгу <a href="book.html?id={{book.id}}">{{book.title}}</a></h2>
   <div class="wrapper" ng-hide="requestSent || requestError">
    <section>
      <label for="input-name">Имя:<span class="help-block" ng-show="orderForm.name.$error.required">* Required</span></label>
      <input id="input-name" name="name" type="text" ng-model="orderCtrl.name" required>
      <label for="input-phone">Телефон:<span class="help-block" ng-show="orderForm.phone.$error.required">* Required</span></label>
      <input id="input-phone" name="phone" type="tel" pattern="(\+?\d[- .]*){7,13}" ng-model="orderCtrl.phone" required>
      <label for="input-email">Эл. адрес:<span class="help-block" ng-show="orderForm.email.$error.required">* Required</span></label>
      <input id="input-email" name="email" type="email" ng-model="orderCtrl.email" required>
      <fieldset>
        <legend>Способ доставки<span class="help-block" ng-hide="delivery.id">* Required </span></legend>
        <label ng-repeat="method in delivery">
          <input id="{{method.id}}" name="delivery-id" type="radio" value="{{method.id}}" ng-model="delivery.id" ng-change="updatePaymentScope(method)" required>{{method.name}} - {{method.price}} {{defaultCurrency.CharCode}}
        </label>
      </fieldset>
    </section>
    <section>
      <fieldset class="payment-method">
      <legend>Способ оплаты<span class="help-block" ng-hide="orderCtrl.payment">* Required </span></legend>
        <label ng-repeat="method in payment">
        <input id="{{method.id}}" name="payment-id" type="radio" value="{{method.id}}" ng-model="orderCtrl.payment" required>{{method.title}}
        </label>
      </fieldset>
      <label for="input-comment">Комментарий к заказу:</label>
      <textarea id="input-comment" rows="5" ng-model="orderCtrl.comment"></textarea>
      <label for="input-deliverTo" ng-show="needAddress">Адрес доставки:<span class="help-block" ng-show="orderForm.address.$error.required">* Required</span></label>
      <input id="input-deliverTo" type="text" name="address" ng-show="needAddress" ng-model="orderCtrl.address" ng-required="needAddress">
    </section>
    <section class="book-cover" ng-style="{'background':'url('+ book.cover.small +')', 'background-size':'cover'}"></section>
    <section class="place-order">
      <h2>Итого к оплате: <span>{{total || totalprice}} {{currencySelector.CharCode}}</span></h2>
      <button class="btn-purchase" type="submit" value="Оформить заказ">Оформить заказ</button>
    </section>
    <section class="currency">
      <label for="currencySelect">Выбор валюты:</label>
      <select id="currencySelect" type="select" ng-model="currencySelector" ng-change="calculate()" ng-options="currency as currency.Name for currency in currencies"></select>
    </section>
  </div>
  <section class="order-sent" ng-show="requestSent">
      <p>Благодарим! Заказ на книгу успешно оформлен.</p>
      <p>Спасибо, что спасли книгу от сжигания в печи.</p>
  </section>
  <section class="order-failed" ng-show="requestError">
      <p>Заказ не принят!</p>
      <p>Повторите, пожалуйста, <a ng-click="requestError = false">еще раз</a>.</p>
  </section>
</form>