<!DOCTYPE html>
<html lang="ru" ng-app="bookApp">
<head>
  <meta charset="UTF-8">
  <title>Издательство "Фрай, без Штанов и Бендер"</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/script.js"></script>
  <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>
  <script src="http://rubaxa.github.io/Sortable/ng-sortable.js"></script>
  <!-- @if NODE_ENV='production' -->
  <!-- @endif -->
</head>
<body>
  <header>
    <a href="index.html">
      <div class="logo"></div>
    </a>
    <form class="search" name="searchForm" ng-submit="searchForm.$valid && search(searchQuery)" ng-controller="SearchController" novalidate>
      <input type="text" placeholder="Поиск" ng-model="searchQuery" required>
      <button class="search-button" type="submit"></button>
    </form>
  </header>
  <main class="order">
    <h1>Мы издаем книги &mdash; вы их можете не читать</h1>
    <order-form></order-form>
  </main>
  <footer>
    <a href="about.html"></a>
  </footer>
</body>
</html>